.card-cover{
    height: 350px;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 20px black;
}
/* .container{
    background: whitesmoke;
} */
.card-cover img{
    height: 350px;
    width: 350px;
    border-radius: 3px;
}
.intro{
    height: 42px;
    width: 350px;
    bottom:0px;
    position: absolute;
    box-sizing: border-box;
    background: rgb(27, 27, 27,0.5);
    color: white;
    transition: all .5s;
}
.customIntro{
    visibility: hidden;
    opacity: 0;
}
/* .card-cover:hover{
    cursor: pointer;
} */
.card-cover:hover .intro{
    height: 118px;
    background: black;
}
.card-cover:hover .customIntro{
    visibility: visible;
    opacity: 1;
}
.card-cover:hover img{
    transform: scale(1.1) rotate(-3deg);
    z-index: 1;
}
.linkShareSection{
    position: absolute;
    left: 5px;
    /* background: white; */
    color: #6a2dec;
    transition: all .5s;
    top: -40px;
    visibility: hidden;
}
.card-cover:hover .linkShareSection{
    visibility: visible;
    top: 5px;
    z-index: 10;
    opacity: 1;
    cursor: pointer;
}
/* .socialLink{
    position: absolute;
    left: 20px;
}
.linkShareSection:hover .socialLink{
    visibility: visible;
    display: block;
} */